* {
    padding: 0;
    margin: 0;
    font-family: "Itim", cursive;
}

body{
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#gameboard{
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    width: fit-content;
}

.tile{
    border: 1px solid black;
    cursor: pointer;
    max-width: 30px;
    max-width: 30px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}